
/* Scene specific styles */

.scene {
    font: 12px sans-serif;
    shape-rendering: crispEdges;
}

.scene rect.logic {
    fill: #FFFF7F;
    stroke: black;
}

.scene text.logic {
    font: 12px sans-serif;
    text-anchor: middle;
    alignment-baseline: central;
}

.scene line {
    stroke: black;
}

.scene line.grid-major {
    stroke-opacity: 0.1568627450980392;
}

.scene line.grid-minor {
    stroke-opacity: 0.0784313725490196;
}

.scene line.linetree-active {
    stroke: red;
}

.interconnect {
    stroke: black;
    fill: none;
    stroke-width: 1px;
}

/*body {
    margin: 0;
    transform: translate(0.5px, 0.5px);
}*/




/* Bootstrap sepecifc styles */

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}